<div class="card" *ngIf="post">
  <h3 class="card-header">Post Form</h3>
  <div class="card-block">
    <form>
      <fieldset>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter Title" [(ngModel)]="post.title" name="title">
        </div>
        <div class="form-group">
          <label for="excerpt">Excerpt</label>
          <textarea rows="3" class="form-control" id="excerpt" placeholder="Enter Excerpt" [(ngModel)]="post.excerpt" name="excerpt"></textarea>
        </div>
        <div class="form-group">
          <label for="datePublished">Publishing Date</label>
          <input type="date" class="form-control" id="datePublished" placeholder="Enter Date" [(ngModel)]="post.publishingdate" name="datePublished">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="post.draft" name="draft">
              Draft
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="bodytext">Post Body</label>
            <ckeditor name="bodytext" [(ngModel)]="post.bodytext" [config]="{uiColor: '#ffffff'}" debounce="500">
            </ckeditor>
          </div>
          <div class="col-md-6" [innerHtml]="post.bodytext | sanitizeHtml"></div>
        </div>
        <div *ngIf="addPost==false">
          <button type="submit" class="btn btn-primary" (click)="updatePost()">Update</button>
          <button type="submit" class="btn btn-danger" (click)="deletePost()">Delete</button>
        </div>
        <div *ngIf="addPost==true">
          <button type="submit" class="btn btn-primary" (click)="addNew()">Add</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<p *ngIf="msg" class="text-success">{{msg}}</p>
<p *ngIf="msg1" class="text-danger">{{msg1}}</p>